.site-nav {
        background-repeat: no-repeat;
        background-position-y: 10px;
        background-position-x: center;
        background-image: url(https://nprint.github.io/logo.png);
        background-size: 200px;
        padding-top: 15rem;
}
